extends ParentTemplate.pug 

block head-extra
  title 404 Error: Page Not Found

block title 
  h1(class='display-2') 404 Error

block content
  div(class='row')
    div(class='col' id='content')
      div(class='card m-4 p-2')
        img(src='https://s3.ap-northeast-2.wasabisys.com/cubemoji-public/magnifying_glass_left.svg' alt='Magnifying Glass' class='card-img-top mx-auto d-block' style='max-width:40%;height:auto')
        div(class='card-body')
          p(class='card-text') Page not found!
