extends ParentTemplate.pug 

block head-extra
  title 404 Error: Page Not Found

block title 
  h1(class='display-2') 404 Error

block content
  div(class='row')
    div(class='col' id='content')
      br
      p The page you requested does not exist. Try another URL.
      br