extends ParentTemplate.pug 

block head-extra
  title 500 Error: Internal Server Error

block title 
  h1(class='display-2') 500 Error

block content
  div(class='row')
    div(class='col' id='content')
      div(class='card m-4 p-2')
        img(src='https://s3.ap-northeast-2.wasabisys.com/cubemoji-public/crt_blue_screen.svg' alt='Blue Screened Computer Screen' class='card-img-top mx-auto d-block' style='max-width:40%;height:auto')
        div(class='card-body')
          p(class='card-text') An internal server error occurred on our end. If you are trying to access the Role Picker, please retype /roles into chat as your link may have expired.
