extends ParentTemplate.pug 

block head-extra 
  title Role Picker 
  meta(name='robots' context='noindex')

block title 
  h1(class='display-2') Role Picker 


mixin radio-button(id, category, checked)
  //- base64 encode the gategory name
  div(class='form-check')
    input(
      class='form-check-input'
      type='radio'
      name= Buffer.from(category).toString('base64')
      id= id
      value= id
      checked= checked
    )

mixin switch-button(id, checked)
  div(class='form-check form-switch d-flex')
    input(
      class='form-check-input'
      type='checkbox'
      role='switch'
      value= id
      name= id
      id= id
      checked= checked
    )

block content
  // server icon and name card
  div(class='row mt-4')
    div(class='col' id='title')
      div(class='card text-bg-secondary mb-3')
        div(class="row g-0")
          div(class="col-md-auto")
            img(src=serverIcon class="img-fluid rounded-start" alt="Server Icon")
          div(class='col-md')
            div(class='card-body')
              h5(class='card-title')=serverName
              p(class='card-text')
                | Welcome
                |
                b=userNickname
                | .
                |
                | Select your roles below and then click submit at the bottom of the page. This page expires after 20 minutes of its generation. See the amount of time left by going back to Discord and typing /roles

  div(class='row m-3')
    form(action='/submitroles' method='POST' id='rolePicker')
      // used to validate the POST request
      input(type='hidden' id='serverID' name='serverID' value=serverID)
      input(type='hidden' id='userID' name='userID' value=userID)
      input(type='hidden' id='uniqueID' name='uniqueID' value=uniqueID)

      each category in roleCategories
        div(class='row p-2 rounded border mx-auto')
          div(class='col')
            // category
            if category.image
              img(src=category.image style='max-width:65%;height:auto' class='img-fluid img-thumbnail my-3' alt="Category Icon")
            h5=category.name
            // unbuffered code here! Ensure that the upstream repo is correctly sanitized
            p!=category.description

            div(class='row row-cols-xl-4 gy-5 gx-5 align-items-center p-3')
              each role in category.roles
                div(class='col')
                  //- figure out if the user has the role to autocheck the box
                  - const checked = checklist.get(role)

                  if category.radio
                    +radio-button(role, category.name, checked)
                  else
                    +switch-button(role, checked)                     

                  label(
                    class='form-check-label'
                    for=role
                    style=`text-decoration:underline;`
                    )=roleManager.get(role).name

      div(class='row p-3')
        div(class='col mx-5')
          div(class='btn-group d-flex justify-content-center')
            button(type='submit' class='btn btn-primary') Submit
            button(type='button' class='btn btn-danger' onclick="reset()") Reset to Current Roles

  script.
    function reset() {
      const items = document.querySelectorAll('form-check-input');
      for (const item of items) {
        item.checked = false;
      }
    }


